section {
  margin: 6rem;
}
.barra-nav {
  background-color: #0b655b;
}
.enlaces {
  display: flex;
  justify-content: space-around;
}

.enlaces a {
  color: white;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  transition: background-color 0.3s ease;
  width: 100%;
}

.enlaces a:hover {
  background-color: #104b45;
}

@media (max-width: 768px) {
  .barra-nav {
    flex-direction: column;
    align-items: center;
  }

  .enlaces {
    display: flex;
    flex-direction: column;
  }
  .enlaces a {
    width: auto;
  }
}
