:root {
  background-color: rgb(235, 254, 248);
  /* púrpura */
  .paleta-colores1 .oscuro-4 {
    background-color: hsl(280, 60%, 20%);
    color: hsl(280, 10%, 95%);
  }
  .paleta-colores1 .oscuro-3 {
    background-color: hsl(280, 50%, 30%);
    color: hsl(280, 20%, 90%);
  }
  .paleta-colores1 .oscuro-2 {
    background-color: hsl(280, 50%, 40%);
    color: hsl(280, 30%, 85%);
  }
  .paleta-colores1 .oscuro-1 {
    background-color: hsl(280, 40%, 50%);
    color: hsl(280, 40%, 80%);
  }
  .paleta-colores1 .base {
    background-color: hsl(280, 30%, 60%);
    color: hsl(280, 40%, 20%);
  }
  .paleta-colores1 .claro-1 {
    background-color: hsl(280, 30%, 70%);
    color: hsl(280, 50%, 25%);
  }
  .paleta-colores1 .claro-2 {
    background-color: hsl(280, 30%, 80%);
    color: hsl(280, 60%, 30%);
  }
  .paleta-colores1 .claro-3 {
    background-color: hsl(280, 30%, 90%);
    color: hsl(280, 60%, 35%);
  }
  .paleta-colores1 .claro-4 {
    background-color: hsl(280, 20%, 98%);
    color: hsl(280, 70%, 40%);
  }

  /* amarillos */
  .paleta-colores2 .oscuro-4 {
    background-color: hsl(50, 60%, 20%);
    color: hsl(50, 10%, 95%);
  }
  .paleta-colores2 .oscuro-3 {
    background-color: hsl(50, 50%, 30%);
    color: hsl(50, 20%, 90%);
  }
  .paleta-colores2 .oscuro-2 {
    background-color: hsl(50, 50%, 40%);
    color: hsl(50, 30%, 85%);
  }
  .paleta-colores2 .oscuro-1 {
    background-color: hsl(50, 40%, 50%);
    color: hsl(50, 40%, 80%);
  }
  .paleta-colores2 .base {
    background-color: hsl(50, 30%, 60%);
    color: hsl(50, 40%, 20%);
  }
  .paleta-colores2 .claro-1 {
    background-color: hsl(50, 30%, 70%);
    color: hsl(50, 50%, 25%);
  }
  .paleta-colores2 .claro-2 {
    background-color: hsl(50, 30%, 80%);
    color: hsl(50, 60%, 30%);
  }
  .paleta-colores2 .claro-3 {
    background-color: hsl(50, 30%, 90%);
    color: hsl(50, 60%, 35%);
  }
  .paleta-colores2 .claro-4 {
    background-color: hsl(50, 20%, 98%);
    color: hsl(50, 70%, 40%);
  }

  /*grises */
  .paleta-colores3 .oscuro-4 {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 95%);
  }
  .paleta-colores3 .oscuro-3 {
    background-color: hsl(0, 0%, 30%);
    color: hsl(0, 0%, 90%);
  }
  .paleta-colores3 .oscuro-2 {
    background-color: hsl(0, 0%, 40%);
    color: hsl(0, 0%, 85%);
  }
  .paleta-colores3 .oscuro-1 {
    background-color: hsl(0, 0%, 50%);
    color: hsl(0, 0%, 80%);
  }
  .paleta-colores3 .base {
    background-color: hsl(0, 0%, 60%);
    color: hsl(0, 0%, 20%);
  }
  .paleta-colores3 .claro-1 {
    background-color: hsl(0, 0%, 70%);
    color: hsl(0, 0%, 25%);
  }
  .paleta-colores3 .claro-2 {
    background-color: hsl(0, 0%, 80%);
    color: hsl(0, 0%, 30%);
  }
  .paleta-colores3 .claro-3 {
    background-color: hsl(0, 0%, 90%);
    color: hsl(0, 0%, 35%);
  }
  .paleta-colores3 .claro-4 {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 40%);
  }
}

.paleta-colores1,
.paleta-colores2,
.paleta-colores3 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.caja-color {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 30, 5, 5.2);
}
