:root {
  /*azul */
  .paleta-colores1 .oscuro-4 {
    background-color: hsl(210, 50%, 20%);
    color: hsl(210, 10%, 95%);
  }
  .paleta-colores1 .oscuro-3 {
    background-color: hsl(210, 40%, 30%);
    color: hsl(210, 20%, 90%);
  }
  .paleta-colores1 .oscuro-2 {
    background-color: hsl(210, 40%, 40%);
    color: hsl(210, 30%, 85%);
  }
  .paleta-colores1 .oscuro-1 {
    background-color: hsl(210, 40%, 50%);
    color: hsl(210, 40%, 80%);
  }
  .paleta-colores1 .base {
    background-color: hsl(210, 30%, 60%);
    color: hsl(210, 40%, 20%);
  }
  .paleta-colores1 .claro-1 {
    background-color: hsl(210, 30%, 70%);
    color: hsl(210, 40%, 25%);
  }
  .paleta-colores1 .claro-2 {
    background-color: hsl(210, 30%, 80%);
    color: hsl(210, 40%, 30%);
  }
  .paleta-colores1 .claro-3 {
    background-color: hsl(210, 30%, 90%);
    color: hsl(210, 40%, 35%);
  }
  .paleta-colores1 .claro-4 {
    background-color: hsl(210, 30%, 98%);
    color: hsl(210, 50%, 40%);
  }
  /*verde */
  .paleta-colores2 .oscuro-4 {
    background-color: hsl(160, 50%, 20%);
    color: hsl(160, 10%, 95%);
  }
  .paleta-colores2 .oscuro-3 {
    background-color: hsl(160, 40%, 30%);
    color: hsl(160, 20%, 90%);
  }
  .paleta-colores2 .oscuro-2 {
    background-color: hsl(160, 40%, 40%);
    color: hsl(160, 30%, 85%);
  }
  .paleta-colores2 .oscuro-1 {
    background-color: hsl(160, 40%, 50%);
    color: hsl(160, 40%, 80%);
  }
  .paleta-colores2 .base {
    background-color: hsl(160, 30%, 60%);
    color: hsl(160, 40%, 20%);
  }
  .paleta-colores2 .claro-1 {
    background-color: hsl(160, 30%, 70%);
    color: hsl(160, 40%, 25%);
  }
  .paleta-colores2 .claro-2 {
    background-color: hsl(160, 30%, 80%);
    color: hsl(160, 40%, 30%);
  }
  .paleta-colores2 .claro-3 {
    background-color: hsl(160, 30%, 90%);
    color: hsl(160, 40%, 35%);
  }
  .paleta-colores2 .claro-4 {
    background-color: hsl(160, 30%, 98%);
    color: hsl(160, 50%, 40%);
  }
  /* terracota */
  .paleta-colores3 .oscuro-4 {
    background-color: hsl(15, 50%, 25%);
    color: hsl(15, 10%, 95%);
  }
  .paleta-colores3 .oscuro-3 {
    background-color: hsl(15, 50%, 35%);
    color: hsl(15, 20%, 90%);
  }
  .paleta-colores3 .oscuro-2 {
    background-color: hsl(15, 50%, 45%);
    color: hsl(15, 30%, 85%);
  }
  .paleta-colores3 .oscuro-1 {
    background-color: hsl(15, 50%, 55%);
    color: hsl(15, 40%, 80%);
  }
  .paleta-colores3 .base {
    background-color: hsl(15, 40%, 70%);
    color: hsl(15, 40%, 20%);
  }
  .paleta-colores3 .claro-1 {
    background-color: hsl(15, 30%, 80%);
    color: hsl(15, 40%, 25%);
  }
  .paleta-colores3 .claro-2 {
    background-color: hsl(15, 30%, 90%);
    color: hsl(15, 40%, 30%);
  }
  .paleta-colores3 .claro-3 {
    background-color: hsl(15, 30%, 95%);
    color: hsl(15, 40%, 35%);
  }
  .paleta-colores3 .claro-4 {
    background-color: hsl(15, 20%, 98%);
    color: hsl(15, 50%, 40%);
  }
}

.paleta-colores1,
.paleta-colores2,
.paleta-colores3 {
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
  flex-wrap: wrap;
}

.caja-color {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 3, 3.1);
}
