/* variables tema 2 */
$base-color-1: #f1c40f; 
$base-color-2: #1abc9c; 
$base-color-3: #34495e;  
$border-radius1: 16px;
$box-shadow1: 0 0 20px rgba(0, 0, 0, 1.5);
$font-family1: 'Open Sans', sans-serif;
