// Definir los tres colores base
$base-color-1: #3498db; // Azul
$base-color-2: #e74c3c; // Rojo
$base-color-3: #2ecc71; // Verde
$base-color-4: #f1c40f; // Amarillo
$base-color-5: #1abc9c; // Verde
$base-color-6: #34495e; // Gris

/* definir border radius */
$border-radius1: 5px;
$border-radius2: 16px;

/* definir box-shadow */
$box-shadow1: 0 0 10px rgba(0, 0, 0, 0.5);
$box-shadow2: 0 0 20px rgba(0, 0, 0, 1.5);

/* definir font-family */
$font-family1: 'Roboto', sans-serif;
$font-family2: 'Open Sans', sans-serif;
