.palette-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 2rem;
  font-family: "Roboto", sans-serif;
}

.color-box {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 32px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s, box-shadow 0.3s;
}
.color-box:hover {
  transform: translateY(-8px);
  box-shadow: 0 7px 14px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.color-box-dark-4 {
  background-color: var(--color-dark-4);
  color: #f1f1f1;
}

.color-box-dark-3 {
  background-color: var(--color-dark-3);
  color: #f1f1f1;
}

.color-box-dark-2 {
  background-color: var(--color-dark-2);
  color: #f9f9f9;
}

.color-box-dark-1 {
  background-color: var(--color-dark-1);
  color: #fdfdfd;
}

.color-box-base {
  background-color: var(--color-base);
  color: #ffffff;
}

.color-box-light-1 {
  background-color: var(--color-light-1);
  color: #333;
}

.color-box-light-2 {
  background-color: var(--color-light-2);
  color: #222;
}

.color-box-light-3 {
  background-color: var(--color-light-3);
  color: #111;
}

.color-box-light-4 {
  background-color: var(--color-light-4);
  color: #000;
}
