@import "_style1";
@import "_mixin";


h1 {
  text-align: center;
  margin: 50px 0;
  color: $base-color-1;
  font-size: 2em;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; 
  margin-bottom: 50px;
  gap: 20px;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box {
  flex: 1 0 150px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  text-align: center;
  border-radius: $border-radius1;
  box-shadow:$box-shadow1;
  transition: transform 0.3s, box-shadow 0.3s;
  font-family: $font-family1;
  -webkit-border-radius: $border-radius1;
  -moz-border-radius: $border-radius1;
  -ms-border-radius: $border-radius1;
  -o-border-radius: $border-radius1;
}

.box:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

$containers: (
  "container-1": $base-color-1,
  "container-2": $base-color-2,
  "container-3": $base-color-3
);

$dark-text-color: #333;
$light-text-color: #fff;

@each $container, $base-color in $containers {
  .#{$container} {
    @for $i from 1 through 4 {
      .darken-#{$i} { 
        @include darken-color($base-color, $i * 10%); 
        .color-box-text {
          color: if($i == 4, $light-text-color, lighten($dark-text-color, (5 - $i) * 20%)); 
        }
      }

      .lighten-#{$i} { 
        @include lighten-color($base-color, $i * 10%); 
        .color-box-text {
          color: darken($light-text-color, $i * 20%);
        }
      }
    }

    .base-color {
      background-color: $base-color;
      .color-box-text {
        color: lighten($dark-text-color, 80%);
      }
    }
  }
}
