$color-base-theme1: #3498db;
$color-base-theme2: #e74c3c;
$color-base-theme3: #27ae60;

$theme1-box-shadow: 0 4px 6px rgba(52, 152, 219, 0.1), 0 1px 3px rgba(52, 152, 219, 0.08);


@use 'main';

.theme-1 {
  @include main.generate-palette($color-base-theme1);
  .color-box {
    box-shadow: $theme1-box-shadow;
    &:hover {
      box-shadow: 0 7px 14px rgba(52, 152, 219, 0.15), 0 3px 6px rgba(52, 152, 219, 0.1);
    }
  }
}

.theme-2 {
  @include main.generate-palette($color-base-theme2);
}

.theme-3 {
  @include main.generate-palette($color-base-theme3);
}

