$color-base-theme1: #3498db;
$color-base-theme2: #e74c3c;
$color-base-theme3: #27ae60;

$theme1-box-shadow: 0 4px 6px rgba(52, 152, 219, 0.1), 0 1px 3px rgba(52, 152, 219, 0.08);
$theme1-box-shadow-hover: 0 7px 14px rgba(52, 152, 219, 0.15), 0 3px 6px rgba(52, 152, 219, 0.1);

@use 'main';

.theme-1 {
  @include main.generate-palette($color-base-theme1);
  font-family: main.$font-family-theme1;
  .color-box {
    border-radius: main.$border-radius-theme1;
    box-shadow: $theme1-box-shadow;
    &:hover {
      box-shadow: $theme1-box-shadow-hover;
    }
  }
}

.theme-2 {
  @include main.generate-palette($color-base-theme2);
  font-family: main.$font-family-theme2;
  .color-box {
    border-radius: main.$border-radius-theme2;
    box-shadow: main.$box-shadow;
    &:hover {
      box-shadow: main.$box-shadow-hover;
    }
  }
}

.theme-3 {
  @include main.generate-palette($color-base-theme3);
  font-family: main.$font-family-theme3;
  .color-box {
    border-radius: main.$border-radius-theme3;
    box-shadow: main.$box-shadow;
    &:hover {
      box-shadow: main.$box-shadow-hover;
    }
  }
}
